---
import { Icon } from "astro-icon/components";
import AccordionLayout from "../layouts/AccordionLayout.astro";
import * as about from "../pages/about/about.md";
import Card from "./Card.astro";
//import ContactCard from "./ContactCard.astro";
const works = await Astro.glob("../pages/works/*.md");
const research = await Astro.glob("../pages/research/*.md");
const studies = await Astro.glob("../pages/studies/*.md");
const outreach = await Astro.glob("../pages/outreach/*.md");
const teaching = await Astro.glob("../pages/teaching/*.md");
const manuscripts = await Astro.glob("../pages/manuscripts/*.md");
const awards = await Astro.glob("../pages/awards/*.md");
const contact = await Astro.glob("../pages/contact/*.md");
const PDF = "/Dianyi Liu CV.pdf";
---

<div class="join join-vertical gap-1">
  <AccordionLayout title={"About"} icon={"carbon:identification"}>
    <article class="text-justify">
      <Fragment set:html={about.compiledContent()} />
    </article>
  </AccordionLayout>

  <!-- <AccordionLayout title={"Studies"} icon={"fluent:hat-graduation-20-regular"}> -->
  <AccordionLayout title={"Studies"} icon={"carbon:education"}>
    {
      studies.map((item) => {
        return (
          <Card
            title={item.frontmatter.title}
            timeframe={item.frontmatter.date}
            location={item.frontmatter.location}
            tags={item.frontmatter.tags}
            url={item.url}
            url_name={item.frontmatter.institute}
            description={item.compiledContent()}
          />
        );
      })
    }
  </AccordionLayout>

  <AccordionLayout title={"Research"} icon={"carbon:chemistry"}>
    {
      research.map((item) => {
        return (
          <Card
            title={item.frontmatter.title}
            timeframe={item.frontmatter.date}
            description={item.compiledContent()}
            tags={item.frontmatter.tags}
            url={item.frontmatter.url}
            url_name={"View project"}
          />
        );
      })
    }
  </AccordionLayout>
  
  <AccordionLayout title={"Work"} icon={"carbon:chart-bubble"}>
    {
      works.map((item) => {
        return (
          <Card
            title={item.frontmatter.title}
            timeframe={item.frontmatter.date}
            description={item.compiledContent()}
            tags={item.frontmatter.tags}
            url={item.frontmatter.url}
            url_name={item.frontmatter.org}
            location={item.frontmatter.location}
          />
        );
      })
    }
  </AccordionLayout>

  <AccordionLayout title={"Teaching"} icon={"carbon:cognitive"}>
    {
      teaching.map((item) => {
        return (
          <Card
            title={item.frontmatter.title}
            timeframe={item.frontmatter.date}
            description={item.compiledContent()}
            tags={item.frontmatter.tags}
            url={item.frontmatter.url}
            url_name={item.frontmatter.url_name}
            location={item.frontmatter.location}
          />
        );
      })
    }
  </AccordionLayout>
  

  

  <AccordionLayout title={"Outreach"} icon={"carbon:idea"}>
    {
      outreach.map((item) => {
        return (
        <Card
            title={item.frontmatter.title}
            timeframe={item.frontmatter.date}
            description={item.compiledContent()}
            tags={item.frontmatter.tags}
            url={item.frontmatter.url}
            url_name={item.frontmatter.url_name}
            location={item.frontmatter.location}
          />
        );
      })
    }
  </AccordionLayout>

  <AccordionLayout title={"Manuscripts"} icon={"carbon:document-multiple-02"}>
    {
      manuscripts.map((item) => {
        return (
          <Card
            title={item.frontmatter.title}
            timeframe={item.frontmatter.date}
            description={item.compiledContent()}
            tags={item.frontmatter.tags}
            url={item.frontmatter.url}
            url_name={item.frontmatter.url_name}
            location={item.frontmatter.location}
          />
        );
      })
    }
  </AccordionLayout>

  <AccordionLayout title={"Awards"} icon={"carbon:certificate"}>
    {
      awards.map((item) => {
        return (
          <Card
          title={item.frontmatter.title}
            timeframe={item.frontmatter.date}
            description={item.compiledContent()}
            tags={item.frontmatter.tags}
            url={item.frontmatter.url}
            url_name={item.frontmatter.url_name}
            location={item.frontmatter.location}
          />
        );
      })
    }
  </AccordionLayout>

  <AccordionLayout title={"CV"} icon={"carbon:document-attachment"}>
    <div class="flex justify-center w-full">
      <div
        class="card card-compact card-bordered border-[oklch(var(--s))] w-96 md:w-112 lg:w-128 hover:shadow-lg transition-all"
      >
        <figure>
          <object data={PDF} type="application/pdf" width="100%"></object>
        </figure>
        <div class="card-body">
          <h2 class="card-title">Resume</h2>
          <p>View and download my resume by clicking on the button below</p>
          <div class="card-actions justify-end">
            <a target="_blank" href={PDF}>
              <button class="btn btn-outline">
                <p>Download resume</p>
                <Icon name="carbon:document-pdf" class="w-6 h-6 ml-1" />
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </AccordionLayout>

  <!-- <AccordionLayout title={"LinkedIn"} icon={"carbon:location-person"}>
    <div class="flex flex-wrap content-around gap-4 justify-center">
      {
        contact.map((item) => {
          return (
            <ContactCard
              url={item.frontmatter.url}
              url_name={item.frontmatter.title}
              icon={item.frontmatter.icon}
            />
          );
        })
      }
    </div>
  </AccordionLayout> -->
  <a href="https://www.linkedin.com/in/dianyi-liu-3a1566319/" target="_blank">
    <div class="collapse-title font-extrabold tracking-tight md:text-2xl">
      <div class="flex">
        <Icon name="carbon:location-person" class="w-8 h-8 mr-4" />
        LinkedIn
      </div>
    </div>
  </a>  
</div>
